.conteudo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.filtro {
    background-color: var(--color-light);

    height: 100px;
    margin: auto;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding: 0px 40px;
}

.filtro input {
    border: 2px solid var(--color);
    border-radius: 10px;
    height: 40px;
    padding: 0px 10px;
    font-size: 0.9rem;
}

.filtro button {
    background-color: var(--color);
    color: var(--color-white);
    border: none;
    border-radius: 15px;
    padding-top: 4px;
    height: 40px;
    width: 40px;
}

.filtro button img {
    width: 20px;
    height: 20px;
}

.filtro button:hover {
    cursor: pointer;

}

.filtro input:focus {
    outline: none;
    border: 3px solid var(--color);
}

.clientes {
    background-color: lime;
    height: 800px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .conteudo {
        padding: 20px 0px;
    }

    .filtro {
        padding: 0px 20px;
        width: 100%;
        border-radius: 0;
    }

    .filtro input {
        font-size: 0.8rem;
        max-width: 170px;
        min-width: none;
    }

    .filtro button {
        min-width: 40px
    }
}

@media screen and (max-width: 500px){
    .filtro {
        gap: 10px;
    }
}